@import "../../../../../styles";

.p-tabview .p-tabview-panels {
  padding: 0px;
  border-width: 50px;
  background-color: rgb(242, 242, 242);
}

.compose-section {
  width: 100%;
  margin-bottom: 40px;
}
