/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
}

@mixin logo-small {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

@mixin logo-medium {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
}

@mixin header-main {
  margin: 0;
  padding: 0;
  background: $gunmetal;
}

/* SCSS HEX */
$gunmetal: #293241ff;
$sea-green-crayola: #00ffc9ff;
$cadet-grey: #829399ff;
$raspberry: #db2955ff;
$tufts-blue: #3993ddff;
$hover_color: #1c2830;
