<section class="section">
  <div>
    <form #blogForm="ngForm" (ngSubmit)="onSubmit()">
      <h3>Editor</h3>
      <p-editor
        [(ngModel)]="blogPost.body"
        name="body"
        required="true"
        [style]="{'max-height': '300px', 'overflow': 'scroll'}">
      </p-editor>
      <br>
      <div class="p-d-flex">
        <button pButton
                (click)="onClear()"
                icon="pi pi-times"
                class="p-button-outlined p-button-danger"
                label="Clear">
        </button>
        <button
          pButton
          type="submit"
          icon="pi pi-check"
          label="Share"
          [disabled]="!blogForm.valid">
        </button>
      </div>
    </form>
  </div>
</section>
