<div class="landing-page-main">
  <div class="main-card">
    <img class="logo-medium" src="../../../../../assets/teamitLogo_white.png" alt="teamit-logo">
    <hr style="width: 400px; margin-top: 30px;">
    <br>
    <section>
      <h2><strong>Create account</strong></h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
        <!-- first name -->
        <div class="p-field p-grid">
          <div class="p-col">
            <input pInputText formControlName="firstname" placeholder="First name">
            <div
              *ngIf="registrationForm.get('firstname').invalid && (registrationForm.get('firstname').dirty || registrationForm.get('firstname').touched)">
            </div>
          </div>
        </div>
        <!-- last name -->
        <div class="p-field p-grid">
          <div class="p-col">
          <input pInputText formControlName="lastname" placeholder="Last name">
          <div
            *ngIf="registrationForm.get('lastname').invalid && (registrationForm.get('lastname').dirty || registrationForm.get('lastname').touched)">
          </div>
        </div>
        </div>
        <!-- email address -->
        <div class="p-field p-grid">
          <div class="p-col">
          <input pInputText formControlName="email" placeholder="Email">
          <div
            *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
          </div>
        </div>
        </div>
        <!-- password -->
        <div class="p-field p-grid">
          <div class="p-col">
          <input pPassword formControlName="password" type="password" placeholder="Choose password">
          <div
            *ngIf="registrationForm.get('password').invalid && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
          </div>
        </div>
        </div>
        <button
          pButton
          type="submit"
          label="Create account"
          [disabled]="registrationForm.invalid"
        ></button>
      </form>
    </section>
    <p>Have an account? <a [routerLink]="['/login']" routerLinkActive="true">Login</a></p>
    <a [routerLink]="['/login']" routerLinkActive="true">Reset password</a>
  </div>
</div>
