<!--<h1>Login</h1>-->
<!--<form action="">-->
<!--    <input type="email">-->
<!--    <br>-->
<!--    <input type="password">-->
<!--    <br>-->
<!--    <button [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button> |-->
<!--    <button [routerLink]="['/register']" routerLinkActive="router-link-active">Register</button>-->
<!--    <br>-->
<!--    <a [routerLink]="['/reset-password']" routerLinkActive="router-link-active">Reset Password</a>-->
<!--</form>-->

<!--<button *ngIf="!isAuthenticated" (click)="login()"> Login </button>-->
<h1>LOGIN PAGE</h1>

