@import "../../../../../styles";

.team-member {
    background-color: $gunmetal;
    padding: 12px 10px 12px 25px;
  font-size: 1em;
  color: #bcbcbc;
}

.team-member:hover {
    background-color: $hover_color;
    cursor: pointer;
  color: white;
}

.top-spacer {
  height: 45px;
}

.teamname {
  margin: 0;
  background-color: #19242b;
  font-size: 1.2em;
  font-weight: 800;
  padding: 10px;
  border-bottom: 1px solid rgb(35, 36, 48);
  display: block;
  position: absolute;
  width: 250px;
}

.selectedTeamMember {
  color: $sea-green-crayola;
  font-weight: bolder;
}
