<section>
  <p-toast position="top-right"></p-toast>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="posts !== undefined; else noPosts" class="p-d-flex p-flex-column">
    <div *ngFor="let post of posts | async" class="p-d-flex p-jc-sm-evenly">
      <div class="p-mr-2 meta">
        <p><strong>Date: </strong>{{ convertDate(post.createdTime) }}</p>
        <p><strong>Time: </strong>{{ convertTime(post.createdTime) }}</p>
        <p><strong>Type: </strong>{{ post.type }}</p>
        <p><strong>Status: </strong>{{ post.status ? post.status : 'n/a'}}</p>
        <p><strong>Helpful: </strong></p>
        <div class="p-d-flex p-jc-sm-start">
          <i (click)="thumbsUpPost()" style="padding: 0px 10px 0px 10px;"
             class="pi pi-thumbs-up"></i><span>{{ post.thumbsUp }}</span>
          <i (click)="thumbsDownPost()" style="padding: 0px 10px 0px 10px;"
             class="pi pi-thumbs-down"></i><span>{{ post.thumbsDown }}</span>
        </div>
      </div>
      <div class="p-mr-2 card-renderer">
        <div *ngIf="post.type === 'query'">
          <h3>{{ post.title }}</h3>
          <p class="postIdStyle">id: {{ post.id }}</p>
          <span *ngFor="let tag of post.tags">
          <p-chip>{{ tag }}</p-chip><span>&nbsp;</span>
        </span>
          <p-divider></p-divider>
        </div>
        <div *ngIf="post.type === 'blog'">
          <h3></h3>
          <p class="postIdStyle">id: {{ post.id }}</p>
          <p-divider></p-divider>
        </div>
        <div>
          <quill-view-html [content]="post.body"></quill-view-html>
        </div><br>
        <div>
          <p-sidebar [(visible)]="showComments" styleClass="p-sidebar-md" position="right">
            <div style="overflow-y: scroll; height:600px">
              <h3>Comments</h3>
              <p-divider></p-divider>
              <p>some</p>
              <p>random</p>
              <p>comments</p>
            </div>
            <p-divider></p-divider>
            <app-blog-create></app-blog-create>
          </p-sidebar>
        </div>
      </div>
      <div class="p-mr-2">
        <button pButton type="button" icon="pi pi-comments" class="p-button-success spacer" pTooltip="View comments"
                tooltipPosition="left" (click)="toggleComments()"></button>
        <button pButton type="button" icon="pi pi-pencil" class="p-button-info spacer" pTooltip="Edit"
                tooltipPosition="left" (click)="editPost()"></button>
        <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-outlined spacer"
                pTooltip="Delete" tooltipPosition="left" (click)="deletePost(post.id)"></button>
      </div>
    </div>
  </div>
</section>

<ng-template #noPosts>
  <div class="no-posts">
    <br>
    <p>No team selected! Choose a team from your list of teams.</p>
  </div>
</ng-template>
