<section>
  <p-toast position="top-right"></p-toast>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="posts !== undefined; else noPosts" class="p-d-flex p-flex-column">
    <button
      *ngIf="!loading"
      pButton
      (click)="scrollToBottom()"
      label="Latest Messages">
    </button>
    <br>
    <div *ngFor="let post of posts | async" class="p-d-flex p-jc-sm-evenly">
      <div class="p-mr-2 meta">
        <p><strong>Date: </strong>{{ convertDate(post.createdTime) }}</p>
        <p><strong>Time: </strong>{{ convertTime(post.createdTime) }}</p>
        <p><strong>Type: </strong>{{ post.type }}</p>
        <p><strong>Status: </strong>{{ post.status ? post.status : 'n/a'}}</p>
        <p><strong>Helpful: </strong></p>
        <div class="p-d-flex p-jc-sm-start">
          <i (click)="thumbsUpPost(post.id)"
             class="pi pi-thumbs-up thumbs"></i><span style="padding: 10px 0px 0px 0px;">{{ post.thumbsUp }}</span>
          <i (click)="thumbsDownPost(post.id)"
             class="pi pi-thumbs-down thumbs"></i><span style="padding: 10px 0px 0px 0px;">{{ post.thumbsDown }}</span>
        </div>
      </div>
      <div class="p-mr-2 card-renderer">
        <div *ngIf="post.type === 'query'">
          <div class="p-d-flex p-jc-between">
            <div class="p-mr-2"><h3>{{ post.title }}</h3></div>
            <div style="margin: auto;" class="p-mr-2">
              <button
                pButton
                (click)="resolvePost(post.id)"
                class="p-button-sm p-button-outlined p-button-rounded"
                icon="pi pi-check"
                label="resolve"
              >
              </button>
            </div>
          </div>
          <p class="postIdStyle">id: {{ post.id }}</p>
          <span *ngFor="let tag of post.tags">
          <p-chip>{{ tag }}</p-chip><span>&nbsp;</span>
        </span>
          <p-divider></p-divider>
        </div>
        <div *ngIf="post.type === 'blog'">
          <h3></h3>
          <p class="postIdStyle">id: {{ post.id }}</p>
          <p-divider></p-divider>
        </div>
        <div>
          <quill-view-html [content]="post.body"></quill-view-html>
        </div>
        <br>
      </div>
      <div class="p-mr-2">
        <i
          (click)="loadComments(post.id)"
          tooltipPosition="left"
          pTooltip="View comments"
          class="pi pi-comments spacer"
          severity="info"
        >
        </i>
        <i
          (click)="editPost()"
          tooltipPosition="left"
          class="pi pi-pencil spacer"
          pTooltip="Edit"
        >
        </i>
        <i
          (click)="deletePost(post.id)"
          class="pi pi-trash spacer"
          tooltipPosition="left"
          pTooltip="Delete"
        >
        </i>
      </div>
    </div>
    <div>
      <p-sidebar [(visible)]="showComments" styleClass="p-sidebar-md" [baseZIndex]="10000" position="right">
        <app-comments></app-comments>
      </p-sidebar>
    </div>
  </div>
</section>

<ng-template #noPosts>
  <div class="no-posts">
    <br>
    <p>No team selected! Choose a team from your list of teams.</p>
  </div>
</ng-template>
