@import "../../../../../styles";

.no-posts {
  padding: 40px;
  text-align: center;
  background-color: white;
  border: 1px solid #d9d9d9
}

//.p-button {
//  background-color: $sea-green-crayola;
//  color: $gunmetal;
//}

.top-corner{
  position: fixed;
  top: 100px;
  right: 60px;
  padding: 10px 15px 10px 15px;
}

.top-corner:hover {
  cursor: pointer;
  background-color: $raspberry;
  color: white;
}

.card-renderer {
  background-color: white;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  width: 85%;
  min-height: 150px;
  padding: 10px 40px 10px 40px;
  border-left-width: 10px;
  border-radius: 10px;
}

space-between {
  min-width: 40px;
}

.spacer {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  display: block;
}

.meta {
  color: #858585;
  font-size: .8em;
}

.meta > p {
  line-height: .5;
}

.postIdStyle {
  font-family: monospace;
  color: #6c757d;
  padding-bottom: 10px;
}
