<div class="main">
    <!-- header -->
    <header class="header-row">
        <div class="gradient"></div>
        <div class="flex-header">
            <div>
                <img class="logo-small" src="../../../../../assets/teamitLogo.png" alt="teamit-logo">
            </div>
            <div>
              <p-button label="Search" icon="pi pi-check" iconPos="left" [routerLink]="['../search']" routerLinkActive="router-link-active"></p-button>
            </div>
        </div>
    </header>
    <!-- main -->
    <div class="main-row">
        <!-- team nav -->
        <div class="team-nav">
            <app-team-list></app-team-list>
        <div>
            <button
                [routerLink]="['../preferences']"
                routerLinkActive="router-link-active"
                style="color: white;"
                pButton type="button"
                class="p-button-lg p-button-text"
                icon="pi pi-cog"
                iconPos="middle">
            </button>
            </div>
        </div>
        <!-- teammate nav -->
        <div class="teammate-nav">
            <div class="teamname"><i class="pi pi-users" style="padding-right: 8px; font-size: 1em"></i>National College</div>
            <app-teammember-list></app-teammember-list>
        </div>
        <!-- content section -->
        <div class="journal-main">
            <h2>Monday 21st January</h2>

            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>
            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>
            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>
            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>
            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>
            <div style=" margin: 20px; width: 60%; float: left; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            -moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
            box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>

<div style=" margin: 20px; width: 60%; float: right; background-color: white; padding: 30px; -webkit-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
-moz-box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);
box-shadow: 9px 10px 5px -6px rgba(0,0,0,0.16);"><h3>Kevin Brennan</h3><p>message from kevin brennan. with some more text just to fill the box up a bit</p></div>


        </div>
    </div>
</div>
