<div class="main-journal-home">
  <!-- main nav -->
  <app-navbar></app-navbar>
  <!-- main -->
  <div class="main-row">
    <!-- team nav -->
    <div class="team-nav">
      <app-team-list></app-team-list>
    </div>
    <!-- teammate nav -->
    <div class="teammate-nav">
      <app-teammember-list></app-teammember-list>
    </div>
    <!-- content section -->
    <div id="journal-main">
      <app-wall></app-wall>
      <div *ngIf="selectedTeam !== ''">
        <app-compose></app-compose>
      </div>
    </div>
  </div>
</div>
